:root {
  --ff-primary: 'Red Hat Display', sans-serif;

  font-size: 62.5%;
  --fs-body-m: 1.5rem;
  --fs-title-m: 2.2rem;
  --fs-plan-m: 1.4rem
  --fs-footer: 1.1rem;

  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* primary */
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-white: white;
  /* neutral */
  --crl-very-pale-blue: hsl(225, 100%, 98%);
  --crl-desaturared-blue: hsl(224, 23%, 55%);
  --crl-dark-blue: hsl(223, 47%, 23%);
  --clr-blue: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-pale-blue);
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  
  height: 100vh;

  font-family: var(--ff-primary);
  font-size: var(--fs-body-m);
  font-weight: var(--fw-500);
  color: var(--crl-dark-blue);
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--ff-primary);
  display: inline-block;
  text-align: center;
}

main {
  max-width: 32.7rem;
  text-align: center;
}

.hero {
  max-width: 100%;
  display: block;
  border-radius: 2rem 2rem 0 0 ;
}

section {
  background-color: var(--clr-white);
  border-radius: 0 0 2rem 2rem;

  padding: 3.2rem 2.4rem;
  box-shadow: 0rem 1rem 1.5rem rgba(0, 0, 0, 0.137);
}

h1 {
  font-size: var(--fs-title-m);
  font-weight: var(--fw-900);
  margin-bottom: 1.6rem;
}

.description {
  color: var(--crl-desaturared-blue);
  padding-inline: .7em; /* ou 1.6rem */
  line-height: 2.5rem;
  font-weight: var(--fw-700);
  margin-bottom: 2.5rem;
}

aside {
  background-color: var(--crl-very-pale-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.6rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.plan-content {
  margin-inline: 1.9rem 5.2rem;
}

.plan-title {
  font-size: var(--fs-plan-m);
  font-weight: var(--fw-900);
}

.plan-price {
  font-size: var(--fs-plan-m);
  color: var(--crl-desaturared-blue);
  font-weight: var(--fw-700);
  line-height: 1.5;
}

.btn-change {
  font-size: 1.3rem;
  text-decoration: underline;
  color: var(--clr-bright-blue);
  font-weight: var(--fw-900);
}
.btn-change:hover,
.btn-change:focus {
  text-decoration: none;
  opacity: .75;
}

.main-button {
  display: block;
  background-color: var(--clr-bright-blue);

  font-size: var(--fs-body-m);
  font-weight: var(--fw-900);
  color: var(--clr-white);

  padding: 1em 4.3em;
  border-radius: 1rem;
  transition: opacity 350ms ease-in-out;
  box-shadow: 0px 1.7rem 1rem 0px hsla(224, 23%, 55%, 0.25);
  margin-bottom: 2.4rem;

}
.main-button:hover,
.main-button:focus {
  opacity: .75;
}

.cancel-btn {
  font-size: var(--fs-body-m);
  font-weight: var(--fw-900);
  color: var(--crl-desaturared-blue);
  transition: color 150ms ease-in-out;
}
.cancel-btn:hover,
.cancel-btn:focus {
  color: var(--crl-dark-blue);
}